{
	admin off
}

{$FRONTEND_LISTEN_ADDRESS::80} {
	encode zstd gzip

	handle /api/v1/* {
		reverse_proxy {$BACKEND_UPSTREAM:backend:8000}
	}

	handle /api/schema/* {
		reverse_proxy {$BACKEND_UPSTREAM:backend:8000}
	}

	handle /admin* {
		reverse_proxy {$BACKEND_UPSTREAM:backend:8000}
	}

	handle /static/* {
		reverse_proxy {$BACKEND_UPSTREAM:backend:8000}
	}

	handle {
		root * /srv/frontend
		@root path /
		rewrite @root /index.html
		@device_page path_regexp device_page ^/devices/[0-9]+/?$
		rewrite @device_page /devices.html
		@trailing_slash path_regexp trailing_slash ^(.+)/$
		rewrite @trailing_slash {re.trailing_slash.1}
		try_files {path} {path}.html =404
		file_server
	}

	handle_errors {
		root * /srv/frontend
		rewrite * /404.html
		file_server
	}
}
